.container {
  // width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

app-notes-header,
app-notes-list,
app-notes-content {
  background-color: #fff;
  padding: 10px;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  margin-top: 5px;
}

app-notes-header {
  display: flex;
  height: 70px;
}

app-notes-list {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

app-notes-content {
  flex-basis: 70%;
  padding: 30px;
}

app-add-note-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}