.add-note,
li {
  list-style-type: none;
  background-color: rgb(226, 226, 226);
  padding: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.notes__list--current {
  background-color: blue;
  color: #fff
}

.add-note {
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 50px;
}